*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button{
    background-color: #1D4ED8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.nav-links a{
    text-decoration: none;
    color: #575757;
}

nav{
    width: 80%;
    margin: 0 auto;
}